<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

        <context:property-placeholder location="classpath:quotes.properties"/>

        <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
        <bean class="java.lang.String" id="astalavista">
            <constructor-arg value="ASTALAVISTA BABY"/>
        </bean>
        <bean class="quoters.TalkingRobotImpl" init-method="talk">
            <property name="quoters">
                <list>
                    <ref bean="terminatorQuoter"/>
                    <ref bean="shakespeareQuoter"/>
                </list>
            </property>
        </bean>
        <bean id="shakespeareQuoter" class="quoters.ShakespeareQuoter">
            <property name="message" value="${shakespeareQuote}"/>
        </bean>

        <bean id="terminatorQuoter" class="quoters.TerminatorQuoter">
        <property name="messages">
        <list>
            <value>I'll be back</value>
            <value>Trust me!</value>
            <ref bean="astalavista"/>
        </list>
        </property>
        </bean>
    <bean class="framework.RunThisMethodAnnotationBeanPostProcessor" />
    <bean class="framework.TransactionAnnotationBeanPostProcessor" />
    <bean class="framework.BenchmarkAnnotationBeanPostProcessor" />
    <bean class="framework.WarningBeanFactoryPostProcessor" />
    <bean class="reflections.Person" scope="prototype" destroy-method="getAge"/>
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
    <bean class="framework.DeprecatedReplacerBeanFactoryPostProcessor" />

        </beans>